/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin-left: 20px; /* Marge à gauche de la page */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

.featured-recipes {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.featured-recipes h2 {
    margin-bottom: 10px;
    color: #333;
}

.recette {
    background-color: #f2f2f2; /* Couleur de fond légèrement grise */
    padding: 20px; /* Espacement intérieur pour la div de recette */
    margin-bottom: 20px; /* Espacement en bas de chaque div de recette */
    border-radius: 10px; /* Angle arrondi pour la div de recette */
}

.recette-image {
    width: 200px; /* Taille fixe de l'image */
    height: auto; /* La hauteur s'ajustera automatiquement en fonction de la largeur */
}

/* Ajout d'une classe pour définir le fond coloré de la recette */
.recette-color {
    background-color: #ffc107; /* Couleur de fond jaune */
}